div {
    width: 800px;
    height: 400px;
    background-color: lightyellow;
}

div h2 {
    display: inline-block;
    width: 15%;
    height: 35%;
    background-color: black;
    padding-top: 20px;
    color: darkorange;
    /* line-height: 20%; */
    /* padding: 10%; */
    text-align: center;
}

.blo {
    height: 80%;
}

div h2 span {
    color: gold;
}

h3 {
    height: 20%;
    color: black;
    width: 800px;
    font-size: 14px;
    background-color: blueviolet;
}

.yellow {
    padding: -10%;
    background-color: gold;
}